#-------------------------------FOR REDHAT BASED OS--------------------------------------------------------------------------
- name: Install YUM utils package
  dnf: 
    name: yum-utils
    state: present
  when: ansible_os_family == "RedHat"

- name: Add Microsoft DNF/YUM key
  rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc
  when: ansible_os_family == "RedHat"

- name: Add  Microsoft yum repository for MDATP
  yum_repository:
    name: packages-microsoft-com-prod
    description: Microsoft Defender for Endpoint
    file: microsoft-prod
    baseurl: https://packages.microsoft.com/rhel/8/prod/ 
    gpgcheck: yes
    enabled: Yes
  when: ansible_os_family == "RedHat"

#-------------------------------FOR DEBIAN BASED OS--------------------------------------------------------------------------
- name: Install YUM utils package
  apt: 
    name: libplist-util
    state: present
  when: ansible_os_family == "Debian"

- name: Add Microsoft APT key
  apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
    state: present
  when: ansible_os_family == "Debian"

- name: Add Microsoft apt repository for MDATP
  apt_repository:
    repo: deb [arch=arm64,armhf,amd64] https://packages.microsoft.com/config/debian/11/packages-microsoft-prod.list
    update_cache: yes
    state: present
    filename: microsoft-prod
  when: ansible_os_family == "Debian"

#-----------------------------------------------------------------------------------------------------------------------------
- name: Create MDATP directories
  file:
    path: /etc/opt/microsoft/mdatp/
    recurse: true
    state: directory
    mode: 0755
    owner: root
    group: root

- name: Register mdatp_onboard.json
  stat:
    path: /etc/opt/microsoft/mdatp/mdatp_onboard.json
  register: mdatp_onboard

#requirement for this task: you need to first download the package into the ansible-mdapt/files/ directory and unzip it.
- name: Copy MicrosoftDefenderATPOnboardingLinuxServer.py into /etc/opt/microsoft/mdatp
  copy:
    src: MicrosoftDefenderATPOnboardingLinuxServer.py
    dest: /etc/opt/microsoft/mdatp
    mode: 0600
    owner: root
    group: root
  when: not mdatp_onboard.stat.exists

#-------------------------------FOR DEBIAN BASED OS--------------------------------------------------------------------------
- name: Install mdatp client on Debian.
  tags: debian
  apt: 
    name: "{{ name_and_version }}"
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

#-------------------------------FOR REDHAT BASED OS--------------------------------------------------------------------------
- name: Install mdatp client on RedHat.
  tags: redhat
  dnf:
    name: "{{ name_and_version }}"
    state: present
    enablerepo: packages-microsoft-com-prod
  when: ansible_os_family == "RedHat"

#-----------------------------------------------------------------------------------------------------------------------------
- name: Copy passive profile config file to remote
  tags: passive
  template:
    src: mdatp_managed.j2
    dest: /etc/opt/microsoft/mdatp/managed/mdatp_managed.json
    owner: root
    group: root
    mode: 0600
  #when: ansible_os_family == "RedHat"


